@import './variables/index.scss';
@import './mixins/index.scss';

.row-item.list-group-item {
    @include flex-row-space-between();
}

.bookName {
    width: 540px;
    background-color: rgba(112, 95, 160, 0.24);
    text-align: center;
    padding: $padding-5;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        font-size: 20px;
    }
}